[submodule "vendor/vendor-boolector/btor2tools"]
	path = vendor/vendor-boolector/btor2tools
	url = git@github.com:smuenzel/btor2tools.git
[submodule "vendor/vendor-boolector/boolector"]
	path = vendor/vendor-boolector/boolector
	url = git@github.com:smuenzel/boolector.git
[submodule "vendor/vendor-boolector/cadical"]
	path = vendor/vendor-boolector/cadical
	url = git@github.com:smuenzel/cadical.git
[submodule "vendor/vendor-boolector/cryptominisat"]
	path = vendor/vendor-boolector/cryptominisat
	url = git@github.com:smuenzel/cryptominisat.git
[submodule "vendor/vendor-boolector/lingeling"]
	path = vendor/vendor-boolector/lingeling
	url = git@github.com:smuenzel/lingeling.git
[submodule "vendor/vendor-boolector/minisat"]
	path = vendor/vendor-boolector/minisat
	url = git@github.com:smuenzel/minisat.git
[submodule "vendor/z3i"]
	path = vendor/z3i
	url = git@github.com:smuenzel/ocaml_z3i
[submodule "vendor/vendor-cvc5/cvc5"]
	path = vendor/vendor-cvc5/cvc5
	url = git@github.com:smuenzel/cvc5
[submodule "vendor/vendor-cvc5/cadical"]
	path = vendor/vendor-cvc5/cadical
	url = git@github.com:smuenzel/cadical
[submodule "vendor/vendor-cvc5/kissat"]
	path = vendor/vendor-cvc5/kissat
	url = git@github.com:smuenzel/kissat
[submodule "vendor/vendor-cvc5/libpoly"]
	path = vendor/vendor-cvc5/libpoly
	url = git@github.com:smuenzel/libpoly
[submodule "vendor/vendor-cvc5/symfpu"]
	path = vendor/vendor-cvc5/symfpu
	url = git@github.com:smuenzel/symfpu
[submodule "vendor/fast_bitvector"]
	path = vendor/fast_bitvector
	url = git@github.com:smuenzel/fast_bitvector
